html {
    font-size: 62.5%;
}
h2 {
    margin: 0;
}

.gallery {
    list-style: none;
    overflow: auto;
    display: flex;
    flex-direction: column;

}
.gallery--item_title {
    display: block;
    width:15rem;
    font-size: 2.5rem;
    background-color: aliceblue;
    text-align: center;
}
.gallery--item_image {
    display: block;
    width:15rem;
    height:15rem;
    object-fit: cover;
}

.gallery--item {
    border: 2px solid lightgrey;
    border-radius: 40px;
    overflow: hidden;
    width: 15rem;
    margin-top: 10px;
}

.logo {
    font-size: 4rem;
    text-align: center;
    background-color: azure;
}

.gallery li:nth-child(1) {
    margin-top: 0;
    align-self: center;
    width:70rem;
    height:50rem;
}

.gallery--item_image1{
    width:70rem;
    height:50rem;
    object-fit: cover;
}